@model PharmaQueue.Models.CustomerViewModels.CustomerDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Prescriptions
        </dt>
        @foreach (var item in Model.Prescriptions)

        {
            <dd>
                Medication: @Html.DisplayFor(modelItem => item.Name)
                @Html.DisplayFor(modelItem => item.Strength)
                #@Html.DisplayFor(modelItem => item.Quantity)
            </dd>
        }
    </dl>
    <a asp-controller="Prescriptions" asp-action="Create" asp-route-id="@Model.UserId">Add a Prescription</a>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
