@model PharmaQueue.Models.PrescriptionViewModels.PrescriptionCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Prescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Prescription.Name" class="control-label"></label>
                <input asp-for="@Model.Prescription.Name" class="form-control" />
                <span asp-validation-for="@Model.Prescription.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Prescription.Strength" class="control-label"></label>
                <input asp-for="@Model.Prescription.Strength" class="form-control" />
                <span asp-validation-for="@Model.Prescription.Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Prescription.Quantity" class="control-label"></label>
                <input asp-for="@Model.Prescription.Quantity" class="form-control" />
                <span asp-validation-for="@Model.Prescription.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Prescription.Refills" class="control-label"></label>
                <input asp-for="@Model.Prescription.Refills" class="form-control" />
                <span asp-validation-for="@Model.Prescription.Refills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Prescription.Price" class="control-label"></label>
                <input asp-for="@Model.Prescription.Price" class="form-control" />
                <span asp-validation-for="@Model.Prescription.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/signalr/dist/browser/signalr.js"></script>