@model PharmaQueue.Models.PrescriptionViewModels.PrescriptionSoldViewModel

@{
    ViewData["Title"] = "Sold";
}

<h2>Sold</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Strength
            </th>
            <th>
                Quantity
            </th>
            <th>
                Refills
            </th>
            <th>
                Price
            </th>
            <th>
                Status
            </th>
            <th>Customer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Prescriptions)
        {
            <tr>
                <td>
                    <a asp-controller="Prescriptions" asp-action="Details" asp-route-id="@item.PrescriptionId" class="category-title">
                        @item.Name
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Strength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Refills)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @if (item.StatusId <= 4 && item.IsSold == false)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.QueueStatus)
                    </td>
                }
                @if (item.StatusId == 4 && item.IsSold == true)
                {
                    <td>
                        Sold
                    </td>
                }
                <td>
                    <a asp-controller="Customers" asp-action="Details" asp-route-id="@item.UserId" class="category-title">
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                        @item.User.LastName
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary btn-xs" asp-controller="Home" asp-action="Index">Back to List</a>
