@model PharmaQueue.Models.HomeViewModel.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h2>Welcome to PharmaQueue!</h2>
    <a class="btn btn-xs btn-danger" asp-controller="Prescriptions" asp-action="Sold" style="float:left">Sold</a>
    <br>
    <br>
    <table style="width:25%; float:left">
        <tr>
            <th>Entered</th>
        </tr>
        @if (Model.EnteredPrescriptions.Count() > 0)
        {
            @foreach (var item in Model.EnteredPrescriptions)
            {
                <tr>
                    <td>
                        <a asp-controller="Prescriptions" asp-action="Details" asp-route-id="@item.PrescriptionId" class="category-title">
                            @item.Name
                            @item.Strength #@item.Quantity $@item.Price
                        </a>
                    </td>
                </tr>
            }
        }
        @if (Model.EnteredPrescriptions.Count() == 0)
        {
            <tr>
                <td></td>
            </tr>
        }
    </table>
    <table style="width:25%; float:left">
        <tr>
            <th>Reviewed</th>
        </tr>
        @if (Model.ReviewedPrescriptions.Count() > 0)
        {
            @foreach (var item in Model.ReviewedPrescriptions)
            {
                <tr>
                    <td>
                        <a asp-controller="Prescriptions" asp-action="Details" asp-route-id="@item.PrescriptionId" class="category-title">
                            @item.Name
                            @item.Strength #@item.Quantity $@item.Price
                        </a>
                    </td>
                </tr>

            }
        }
        @if (Model.ReviewedPrescriptions.Count() == 0)
        {
            <tr>
                <td></td>
            </tr>
        }
    </table>
    <table style="width:25%; float:left">
        <tr>
            <th>Filled</th>
        </tr>
        @if (Model.FilledPrescriptions.Count() > 0)
        {
            @foreach (var item in Model.FilledPrescriptions)
            {
                <tr>
                    <td>
                        <a asp-controller="Prescriptions" asp-action="Details" asp-route-id="@item.PrescriptionId" class="category-title">
                            @item.Name
                            @item.Strength #@item.Quantity $@item.Price
                        </a>
                    </td>
                </tr>
            }
        }
        @if (Model.FilledPrescriptions.Count() == 0)
        {
            <tr>
                <td></td>
            </tr>
        }
    </table>
    <table style="width:25%; float:left">
        <tr>
            <th>Ready</th>
        </tr>
        @if (Model.ReadyPrescriptions.Count() > 0)
        {
            @foreach (var item in Model.ReadyPrescriptions)
            {
                <tr>
                    <td>
                        <a asp-controller="Prescriptions" asp-action="Details" asp-route-id="@item.PrescriptionId" class="category-title">
                            @item.Name
                            @item.Strength #@item.Quantity $@item.Price
                        </a>
                    </td>
                </tr>
            }
        }
        @if (Model.ReadyPrescriptions.Count() == 0)
        {
            <tr>
                <td></td>
            </tr>
        }
    </table>
</div>